{% extends "base.html" %}
{% block title %}
    Hi, {{ user.first_name }}
{% endblock title %}
{% block content %}
    <div class="container mx-auto card bg-primary text-center text-primary-content">
        <div class="card-body">
            <p class="card-title text-center mx-auto">Hi, {{ user.first_name }}</p>
        </div>
    </div>
    <div class="lg:flex container mx-auto py-3 lg:gap-3">
        <div class="container mx-auto card bg-secondary text-center text-primary-content mb-3 lg:mb-0">
            <div class="card-body">
                <p class="card-title text-center mx-auto">Email: {{ user.email }}</p>
            </div>
        </div>
        <div class="container mx-auto card bg-accent text-center text-primary-content">
            <div class="card-body">
                <p class="card-title text-center mx-auto">Phone: {{ profile.phone }}</p>
            </div>
        </div>
    </div>
    <div class="container mx-auto card bg-info text-center text-primary-content ">
        <div class="card-body">
            <a href="{% url "profile_edit" %}"
               class="card-title text-center mx-auto">Edit profile</a>
        </div>
    </div>
{% endblock content %}
